<div class="container">

    <h1 class="scale-in-ver-top">Show the world your secret!!</h1>
    <p class="scale-in-ver-bottom">100% Anonymous</p>

    <button type="button" class="btn btn-outline-secondary" (click)="toSecrets()">GET START</button> 
    
</div>
<footer>
    <a href="http://github.com/MateusSantoSB"><p>GitHub <img src="githubW.png" alt="GitHub"></p></a>
    <a href="http://linkedin.com/in/mateus-sb-santos"><p>Linkedin <img src="linkedin.png" alt="Linkedin"></p></a>
    <p >By Mateus santos</p>

    

</footer>
