.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    background-color: rgba(4,4,29,0.8);
    

    color: white;
    font-size: x-large;   
}

.container p{
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 200px;
}

#secret {
  
  max-width:100%;
}


footer span{
  font-size: small;
  align-items: center;
  margin-left: 20px;
  position: relative;
}
footer form{
  display: flex;
  flex-direction: column;
  align-items: center;


}
footer form button{
  width: 90px;
  height: 35px ;
  

}
footer form input[type="text"]{
  
  margin-bottom: 10px;
  background-color: transparent;
  border-color: white;
  color: white;
  font-size: smaller;
}

.erros{
  text-align: center;

}

#spanz{
  color: green;
}







  .text-focus-in {
            overflow: hidden;
            word-break: break-all;
            text-align: center;
           -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}




