<div class="container" >

    <div id="secret">
        <h1 class="text-focus-in">"{{secret}}"</h1>
    </div>
    <p>{{user}}</p>



   
    <footer>
        <span>Post your Secret !!</span> <span ><a href="/secrets">Refresh Secret</a></span>
        <form  [formGroup]="saveSecret" (ngSubmit)="save()">
           
          <input type="text"  placeholder=" Your Secret" formControlName="secret" > 
                
           <input type="text" placeholder="Your Username" formControlName="username" >

           <div class="erros">
                <span *ngFor="let erro of errorMsg">{{erro}}<br></span>
                <span id="spanz"  *ngIf='savedMsg'>{{savedMsg}}</span>

           </div>
           

         
            <button type="submit" class="btn btn-outline-secondary" [disabled]="saveSecret.invalid">Shiii</button>
        </form>
    </footer>

</div>
