<div class="container" >


    <div class="secret" *ngIf="loading">
        <h1 class="text-focus-in">Loading a secret...</h1>
                    <p>Shiii.vercel.app</p>
    </div>

    <div class="secret" *ngIf="!loading">
        <h1 class="text-focus-in">"{{secret}}"</h1>
                    <p>{{user}}</p>
    </div>
    


   
    <footer>
        <span>Post your Secret !!</span> <span >
            <a href="#" (click)="find(); $event.preventDefault()"> Refresh Secret</a></span>
        <form  [formGroup]="saveSecret" (ngSubmit)="save()">
           
          <input type="text"  placeholder=" Your Secret" formControlName="secret" > 
                
           <input type="text" placeholder="Your Username" formControlName="username" >

           <div class="erros">
                <span *ngFor="let erro of errorMsg">{{erro}}<br></span>
                <span id="spanz"  *ngIf='savedMsg'>{{savedMsg}}</span>

           </div>
           

         
            <button type="submit" class="btn btn-outline-secondary" [disabled]="saveSecret.invalid">Shiii</button>
        </form>
    </footer>

</div>
